<% if (message.type == 1) { %>
    <div class="message-wrapper recieved">
        <div class="name">
            <%= message.name %>
        </div>
        <div class="message">
            <div class="text">
                <%= message.message %>
            </div>
            <div class="date">
                <%= message.date %>
            </div>
        </div>
    </div>
<% } else { %>
    <div class="message-wrapper sent">
        <div class="message">
            <div class="text">
                <%= message.message %>
            </div>
            <div class="date">
                <%= message.date %>
            </div>
        </div>
    </div>
<% } %>